<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/alert.css">
</head>
<body>
<!--    {% for message in get_flashed_messages() %}-->
<!--        <p>{{ message }}</p>-->
<!--    {% endfor %}-->

<!--  {% with messages = get_flashed_messages() %}-->
<!--    {% if messages %}-->
<!--        {% for message in messages %}-->
<!--            {{ message }}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--{% endwith %}-->
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">Error: {{ message }}</div>
{% endfor %}


  </body>
</html>