<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<h1> Here are Items on the todo list</h1>-->
<!--{% for l in list_to_dos %}-->
<!--<h3> Item number {{ l.id }} is {{ l.todo }}</h3>-->
<!--{% endfor %}-->

<!--<a href="{{ url_for('add_list') }}">Please click here to add more to your to do list</a>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div class="container">

    <div>
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">
                {{ msg }}
            </div>
        {% endfor %}
    </div>

    <!-- Page-specific block -->
    {% block content %}
    {% endblock %}
</div> <!-- End of container -->

</body>
</html>

</body>
</html>