<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel = 'stylesheet' type="text/css" href = "{{ url_for('static', filename='blackss.css') }}"/>
</head>
<body>
<h2>First name is: {{first_name}}</h2>
<h2>Last name is: {{ last_name }}</h2>
<h2>The person age is: {{ age }} years old</h2>
<h2>The person live in: {{ location}} </h2>
<h2>The person's current job is: {{ job }}</h2>
<h2>The person has {{ experience}} years in that current position</h2>
<h2>The person's first langauge is: {{language}}</h2>


</body>
</html>